<%= simple_form_for @calendar_event, remote: true do |f| %>
  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.input :event_type, collection: ['Litigation Event', 'March', 'Vigil'] %>
    
    <%= f.input :start_time, input_html: { class: "form-control input-sm datetimepicker" } %>
    <%= f.input :end_time, input_html: { class: "form-control input-sm datetimepicker" } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
    <%= link_to 'Delete', 
                event, 
                method: :delete, 
                class: 'btn btn-danger', 
                data: { confirm: 'Are you sure?' }, 
                remote: true unless @calendar_event.new_record? %>
  </div>
<% end %>