<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @calendar_event.title %>
</p>

<p>
  <strong>Type:</strong>
  <%= @calendar_event.event_type %>
</p>

<p>
  <strong>Description:</strong>
  <%= @calendar_event.description %>
</p>

<p>
  <strong>Event Owner:</strong>
  <%= link_to @event_owner.name, user_path(@event_owner) %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @calendar_event.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @calendar_event.end_time %>
</p>

<h3>Comment on this event:</h3>
<%= render "comments/add_comment_form" %>
<div class="commentList" >
  <%= render "comments/comments" %>
</div>

<%= link_to 'Edit', 
                edit_calendar_event_path(@calendar_event), 
                class: 'btn btn-success',
                remote: true %> | 
<%= link_to 'Delete', 
                @calendar_event, 
                method: :delete, 
                class: 'btn btn-danger', 
                data: { confirm: 'Are you sure?' }, 
                remote: true unless @calendar_event.new_record? %> | 
<%= link_to 'Back', 
                calendar_events_path,
                class: 'btn btn-secondary' %>
